<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kRequireOpenBraceOnStructDeclarationLine</key>
	<true/>
	<key>kColonSpacingRuleInFunctionCall</key>
	<integer>0</integer>
	<key>kRequireOpenBraceOnEnumDeclarationLine</key>
	<true/>
	<key>kGenericDeclarationSpacingRule</key>
	<integer>3</integer>
	<key>kNumberOfEmptyLinesBetweenMethods</key>
	<integer>1</integer>
	<key>kShouldSurroundLogicOperatorsWithSpaces</key>
	<true/>
	<key>kShouldEnumNameStartWithCapitalLetter</key>
	<true/>
	<key>kViolationsShouldBeErrors</key>
	<false/>
	<key>kRequireOpenBraceForIfStatement</key>
	<true/>
	<key>kShouldSurroundEqualsWithSpaces</key>
	<true/>
	<key>kRequireSpaceBeforeParanthesesInFuncCall</key>
	<false/>
	<key>kNumberOfEmptyLinesAtEndOfFile</key>
	<integer>1</integer>
	<key>kRequireSpaceBeforeParameterParanthesesInOperatorFuncSignature</key>
	<true/>
	<key>kColonSpacingRuleInDictionary</key>
	<integer>1</integer>
	<key>kColonSpacingRuleInVariableDeclaration</key>
	<integer>0</integer>
	<key>kRequireOpenBraceForLoops</key>
	<true/>
	<key>kNumberOfEmptyLinesAboveMARK</key>
	<integer>1</integer>
	<key>kShouldFuncNameStartWithCapitalLetter</key>
	<false/>
	<key>kShouldStructNameStartWithCapitalLetter</key>
	<true/>
	<key>kVariableSetterSpacingRule</key>
	<integer>3</integer>
	<key>kRequireSpaceBeforeOpeningBrace</key>
	<true/>
	<key>kColonSpacingRuleInClassDeclaration</key>
	<integer>0</integer>
	<key>kColonSpacingRuleInMethodSignature</key>
	<integer>0</integer>
	<key>kReturnOperatorRuleInMethodSignature</key>
	<integer>1</integer>
	<key>kNumberOfEmptyLinesBelowImport</key>
	<integer>1</integer>
	<key>kRequireSpaceBeforeTypeSpecifier</key>
	<false/>
	<key>kRequireOpenBraceForSwitchStatement</key>
	<true/>
	<key>kRequireSpaceAfterCommas</key>
	<true/>
	<key>kShouldClassNameStartWithCapitalLetter</key>
	<true/>
	<key>kMathOperatorSpacingRule</key>
	<integer>1</integer>
	<key>kRequireOpenBraceOnMethodSignatureLine</key>
	<true/>
	<key>kRequireSpaceBeforeParameterParanthesesInFuncSignature</key>
	<false/>
	<key>kShouldTypeAliasNameStartWithCapitalLetter</key>
	<true/>
	<key>kRequireOpenBraceOnClassDeclarationLine</key>
	<true/>
</dict>
</plist>
